---
export type BikeCardProps = {
  image: string
  name: string
  price: string
}

const { image, name, price } = Astro.props
---

<article class="group w-full h-full">
  <img
    src={image}
    alt={name}
    loading="lazy"
    class="rounded-md mb-4 object-cover min-h-[300px] h-full w-full"
  />
  <h3 class="text-3xl font-semibold mb-2 flex items-center gap-2 before:transition-[width] before:bg-yellow-500 before:h-2 before:w-3 before:block group-hover:before:w-6">
    {name}
  </h3>
  <span class="text-xl pl-5">{price}</span>
</article>
