---
import heroImg from '../assets/images/fotos/introducao.jpg'
---

<section class="bg-neutral-900 pt-10 shadow-[inset_0_-64px_#FFF] xl:shadow-[inset_0_-120px_#FFF] xl:pt-0 xl:bg-neutral-950">
  <div class="container grid grid-cols-1 xl:grid-cols-2 gap-6 xl:gap-8">
    <div class="self-end xl:pb-52">
      <h1 class="text-neutral-50 text-2xl xl:text-7xl font-bold mb-4 xl:mb-6">
        Bicicletas feitas sob medida<span class="text-yellow-500">.</span>
      </h1>
      <p class="text-neutral-400 text-lg mb-6 xl:text-2xl xl:mb-8">
        Bicicletas elétricas de alta precisão e qualidade, fetias sob medida para você. Explore o mundo na sua velocidade com a Bikcraft.
      </p>
      <a class="button xl:py-4 xl:px-8 xl:text-lg" href="/bicicletas">
        Escolha a sua
      </a>
    </div>

    <div>
      <img
        class="h-80 w-full object-cover rounded xl:h-full"
        src={heroImg}
        alt="Bicicleta elétrica preta."
      />
    </div>
  </div>
</section>
