---
import testimonialImg from '../assets/images/fotos/depoimento.jpg'
---

<section class="grid grid-cols-1 xl:grid-cols-2 bg-yellow-500 overflow-hidden">
  <div>
    <img
      src={testimonialImg}
      alt=""
      loading="lazy"
      class="w-full h-72 xl:h-[800px] object-cover"
    />
  </div>

  <div class="p-6 md:py-10 md:p-20 self-end text-center xl:text-left justify-self-center">
    <blockquote>
      <p class="font-serif font-semibold italic text-yellow-950 text-2xl  md:text-4xl xl:text-5xl mb-8 max-w-[32ch] relative before:content-['“'] before:text-opacity-50 before:text-yellow-800 before:text-8xl before:absolute before:-left-16 before:-top-6 after:content-['”'] after:text-opacity-50 after:text-yellow-800 after:text-8xl after:absolute after:-bottom-16">
        Pedalar sempre foi a minha paixão, o que o pessoal da Bikcraft fez foi intensificar o meu amor por esta atividade. Recomendo à todos que amo.
      </p>

      <span class="font-medium text-yellow-950 text-2xl">Gabriela</span>
    </blockquote>
  </div>
</section>
