---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
    <Footer />
	</body>
</html>
<style is:global>
  :root {
    --white: #FFF;
    --black: #000;

    --base50: #F7F7F7;
    --base100: #EDEDED;
    --base200: #DEDEDE;
    --base300: #CCCCCC;
    --base400: #B2B2B2;
    --base500: #9C9C9C;
    --base600: #717171;
    --base700: #595959;
    --base800: #404040;
    --base900: #2E2E2E;
    --base950: #111111;

    --primary500: #FFBB00;
    --primary600: #E4A30B;
    --primary700: #A66F00;
    --primary800: #664400;
    --primary900: #332200;
  }

  /* .container {
    max-width: calc(1216px + (24px * 2));
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  } */

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #FFBB00, #F2A50C);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #332200;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 16px;
  }

  .button:hover {
    background: linear-gradient( #FFB60D, #E59317);
  }
</style>
